@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>Browse</h2>
<div id="browseProperties">
        
    <select>
        <option>Author</option>
        <option>Title</option>
        <option>Pages</option>
    </select>
    <button name="bookLayout">List</button>
</div>
@foreach (BL.Book item in (List<BL.Book>)ViewBag.booklist)
{
    <div class="row book-row">
        <div class="col-sm-12"><p>@item.Title</p></div>
        <div class="col-sm-4">ISBN: @item.Isbn</div>
        <div class="col-sm-4">Publication year: @item.PublicationYear</div>
        <div class="col-sm-4">Pages: @item.Pages</div>
    </div>
}