@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Browsepage</h1>
        <ul>
            <li> @Html.ActionLink("Mainpage", "Index", "Mainpage", null, null) </li>
            <li> @Html.ActionLink("Search", "Searchpage", "Mainpage", null, null) </li>
        </ul>
    </div>
</body>
</html>
