@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <b1>Välj metod för att hitta den bok du söker!</b1>

    </div>
</body>
</html>
