@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Stylesheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Book-A-Book</title>
</head>
<body>
    <div id="loginHead">
        <form>
            <input type="text" name="loginUsername" placeholder="Username" />
            <input type="password" name="loginPassword" placeholder="Password" />
            <button type="submit">Login</button>
        </form>
    </div>
    <div id="main">
        <h1>Book-A-Book</h1>
        <h2>Search</h2>
        
        @using(Html.BeginForm("searchFunction", "Mainpage", FormMethod.Get))
        {
            <input type="text" placeholder="Search by title or by author" id="searchbox" name="search"/>
            <button type="submit">Search</button>
        }
        @Html.ActionLink("Browse", "Browsepage", "Mainpage", null, null)

        <ul id="resultList">
            @if (ViewBag.searchResult!=null)
            {
                foreach (BL.Books item in (List<BL.Books>)ViewBag.searchResult)
                {
                    <li>@item.Title</li>
                }
            }
        </ul>
    </div>
    <div id="footer">
        <span>Skapat av webInteractive AB, AKA Filip, Nils, Viktor.</span>
    </div>
</body>
</html>
