@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Searchpage</title>
</head>
<body>
    <div>
        <h1>Searchpage</h1>
        <ul>
            <li> @Html.ActionLink("Mainpage", "index", "Mainpage", null, null) </li>
            <li> @Html.ActionLink("Browse", "Browsepage", "Mainpage", null, null) </li>
        </ul>
        @using(Html.BeginForm("searchFunction", "Mainpage", FormMethod.Get))
        {
            <input type="text" placeholder="Search by title or by author" id="searchbox"/>
            <button type="submit">Search</button>
        }
        
        <ul id="itemlist">

        </ul>
    </div>
</body>
</html>
