@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis nibh in pharetra sodales. Mauris hendrerit vitae quam eu iaculis. Quisque fermentum mauris vitae erat semper porta. Aliquam velit felis, rutrum ut ligula eu, consectetur rutrum metus. Sed consectetur accumsan varius. In mauris urna, placerat a congue at, pretium sed neque. Vivamus semper nisl non lorem fermentum, et ornare leo feugiat. Quisque quis nisl ut lorem tincidunt malesuada. Maecenas mollis ipsum quam, a interdum eros euismod sed.
        <br /><br />
        Aliquam vulputate mi vel ex faucibus, eget bibendum est pharetra. Morbi ligula orci, sagittis in sagittis a, finibus eu nunc. Aenean cursus lobortis risus, eu hendrerit orci scelerisque ut. Sed at venenatis augue. Suspendisse id fermentum augue. Nulla eget tempus magna. Donec ac interdum mauris, id blandit arcu.
        <br /><br />
        Suspendisse vitae purus vel augue iaculis faucibus non id nisl. Etiam rhoncus at mauris et porttitor. Pellentesque urna eros, eleifend eget arcu nec, consequat vulputate dui. Nulla facilisi. Maecenas auctor semper elit et lobortis. Cras interdum nulla mollis nibh luctus, sit amet dignissim magna feugiat. Maecenas consequat turpis dolor, eget dictum eros euismod in. Vivamus porttitor aliquam nunc, eu porta est vehicula a. Praesent vitae nisl hendrerit, congue nibh et, pharetra ipsum. Maecenas dapibus porttitor magna eget eleifend. Aenean facilisis quis orci non venenatis.
    </p>
</div>
