body {
    background-color: #fff;
    text-align:center;
}

body>div.container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ccc;
}

.container .text-muted {
    margin: 20px 0;
}

.book-row {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-top: 25px;
}